html(lang="en")
  head
    meta(charset="utf-8")

    block head
      link( href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
      link(rel="stylesheet", href="node_modules/angra/views/mail.css")

    title= title
  body
    div#content
      block content

    block footer
      div#footer
        div#social
          small.mx-1 
            a(href=`https://twitter.com/${name}`) Twitter
          small.mx-1 
            a(href=`https://instagram.com/${name}`) Instagram

        div
          small © 2022 #{name}
          br
          small You can 
            a(href=`${config.urls.unsubscribe}`) unsubscribe here.